.pytest_cache
__pycache__
htmlcov/
.coverage
coverage.xml
.env
*.code-workspace
.vscode
.DS_Store
*.py[cod]
*$py.class

# data files
study-app/data/studyapp.sqlite
study-app/data/test-studyapp.sqlite
